.App {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dice-form {
  display: flex;
  flex-direction: column;
}

.dice {
  border: 1px solid black;
  padding: 25px;
  width: 100px;
  height: 100px;
}

.dice-inner {
  height: 100%;
  position: relative;
}

.dot {
  border-radius: 50%;
  background-color: black;
  height: 25px;
  width: 25px;
  position: absolute;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

/* dot styling */

.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.middle-left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
